html{
    background-image: url("../img/street3.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    font-family: 'Thasadith', sans-serif;
}

#timeContainer{
    margin-top: 10%;
    border: white 1px solid;
    text-align: center;
    width: 60%;
    margin-left: 20%;
    background-color: rgba(0,0,0, 0.4);




}

#clock{
    color: white;
    font-size: 140px;
    padding: 0;
}
#date{
    color: white;
    font-size: 80px;
    padding: 0;
}